In [2]:
import pandas as pd
import numpy as np
from plotly import __version__

In [3]:
print(__version__)

5.3.1

In [8]:
import cufflinks as cf

In [9]:
from plotly.offline import download_plotlyjs, init_notebook_mode, plot, iplot

In [10]:
#connects notebook to javascri[t library]
init_notebook_mode(connected=True)

In [11]:
#Enables you to use cufflinks offline
cf.go_offline()

In [12]:
#creating data
data1 = pd.DataFrame(np.random.randn(100,4), columns='A B C D'.split())

In [13]:
data1.head()

          A         B         C         D
0 -2.663912  1.570780  0.216367  1.177163
1  1.333972  0.141573 -0.867925  1.274799
2  0.625136 -0.042208  0.464246  1.824542
3 -0.959747 -1.075060 -0.074468  1.286510
4 -1.059470 -1.492062 -0.454435 -0.131915

In [15]:
data2 = pd.DataFrame({'Category':['A','B','C'], 'Values':[25,32,45]})

In [16]:
data2

  Category  Values
0        A      25
1        B      32
2        C      45