## Part1

In [7]:
import pandas as pd

In [6]:
import numpy as np

In [8]:
from numpy.random import randn

In [9]:
np.random.seed(101)

In [10]:
df = pd.DataFrame(randn(5,4),['A','B','C','D','E'],['W','X','Y','Z'])

In [11]:
df

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [14]:
seriesX = df['X'] #case sensitive
seriesX

A    0.628133
B   -0.319318
C    0.740122
D   -0.758872
E    1.978757
Name: X, dtype: float64

In [15]:
type(seriesX)

pandas.core.series.Series

In [16]:
type(df)

pandas.core.frame.DataFrame

In [17]:
df.W #alternative to In14

A    2.706850
B    0.651118
C   -2.018168
D    0.188695
E    0.190794
Name: W, dtype: float64

In [18]:
df[['Y','Z']]

          Y         Z
A  0.907969  0.503826
B -0.848077  0.605965
C  0.528813 -0.589001
D -0.933237  0.955057
E  2.605967  0.683509

In [21]:
df['YZ'] = df['Y']*df['Z']

In [22]:
df

          W         X         Y         Z        YZ
A  2.706850  0.628133  0.907969  0.503826  0.457458
B  0.651118 -0.319318 -0.848077  0.605965 -0.513905
C -2.018168  0.740122  0.528813 -0.589001 -0.311471
D  0.188695 -0.758872 -0.933237  0.955057 -0.891294
E  0.190794  1.978757  2.605967  0.683509  1.781202

In [24]:
df.drop('YZ', axis=1, inplace=True) #column=axis1, rows = axis0

In [25]:
df

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [26]:
df.drop('E', axis=0)

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057

In [29]:
df.shape

(5, 4)

In [30]:
df.loc['A']

W    2.706850
X    0.628133
Y    0.907969
Z    0.503826
Name: A, dtype: float64

In [31]:
df.iloc[2] #index based location

W   -2.018168
X    0.740122
Y    0.528813
Z   -0.589001
Name: C, dtype: float64

In [32]:
df.loc['C','Y']

0.5288134940893595

In [33]:
df.loc[['A','B'],['Y','Z']]

          Y         Z
A  0.907969  0.503826
B -0.848077  0.605965

In [36]:
df.loc['A':'C']

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001

## Part 2