In [1]:
import pandas as pd

In [2]:
pd.read_csv('example.csv')

    a   b   c   d
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15

In [3]:
df = pd.read_csv('example.csv')

In [4]:
df

    a   b   c   d
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15

In [5]:
df2 = df.to_csv('created_csv', index=False)

In [6]:
pd.read_csv('created_csv')

    a   b   c   d
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15

In [7]:
sheet1 = pd.read_excel('Excel_Sample.xlsx', sheet_name='Sheet1')
sheet1

   Unnamed: 0   a   b   c   d
0           0   0   1   2   3
1           1   4   5   6   7
2           2   8   9  10  11
3           3  12  13  14  15

In [8]:
df.to_excel('Excel_CSV.xlsx', sheet_name='Sheet1')

In [9]:
pd.read_excel('Excel_CSV.xlsx', sheet_name='Sheet1')

   Unnamed: 0   a   b   c   d
0           0   0   1   2   3
1           1   4   5   6   7
2           2   8   9  10  11
3           3  12  13  14  15

In [23]:
from selenium import webdriver
import pandas as pd
driver = webdriver.Chrome('/usr/bin/chromedriver_linux64/chromedriver')
driver.implicitly_wait(30)

driver.get('https://www.wunderground.com/personal-weather-station/dashboard?ID=KMAHADLE7#history/tdata/s20170201/e20170201/mcustom.html')
df=pd.read_html(driver.find_element_by_id("history_table").get_attribute('outerHTML'))[0]

SessionNotCreatedException: Message: session not created: This version of ChromeDriver only supports Chrome version 94
Current browser version is 92.0.4515.159 with binary path /usr/bin/google-chrome

In [15]:
df = pd.read_html('http://www.fdic.gov/bank/individual/failed/banklist.html')

ValueError: No tables found

In [ ]:
df